<!-- Stuff that needs to be included in every <head> block -->

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Global styles -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

<!-- Angular -->
<script type="text/javascript" src="{{ url_for('static', filename='lib/angular/angular.min.js') }}"></script>
<!-- Angular Bootstrap -->
<script type="text/javascript" src="{{ url_for('static', filename='lib/angular-bootstrap/ui-bootstrap-tpls-0.12.1.min.js') }}"></script>
<!-- Lodash (additional js functions) -->
<script type="text/javascript" src="{{ url_for('static', filename='lib/lodash/lodash.js') }}"></script>
<!-- Base angular app -->
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>