<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    </head> 
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Agil</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a>{{ login }}</a></li>
                        <li><a href="{{url_for('logout')}}">logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>{{ login }}'s Projects</h1>
                    </div>
                    <div class="panel-body">
                        <!-- Project Link -->
                        {% for project in projects %}
                            <p>
                                <!-- Link to next page (planning for now) -->
                                <a href="{{ url_for('initProject', project=project.name, owner=project.owner.login)}}">
                                    {{ project.name }}
                                </a>
                            </p>
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </body>
</html>
