<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dashboard</title>
    </head> 
    <body>
        <div class="content">
            <a href="{{url_for('logout')}}">Click here to logout</a>
            <h1>Projects</h1>
            <!-- Project Link -->
            {% for project in projects %}
                <div>
                    <!-- Link to next page (planning for now) -->
                    <a href="{{ url_for('planningFunc', project=project.name)}}">
                        {{ project.name }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </body>
</html>
