<!doctype html>
<html lang="en">
	<head>
		<title>Agil</title>

		<!-- CSS -->
		<link href="{{ url_for('static', filename='lib/foundation/css/foundation.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/landing.css') }}" rel="stylesheet">


	</head>
	<body ng-cloak>	
		<div class="content" ui-view>
		</div>

		<!-- requirejs bootstrap -->
		<script type="text/javascript" src="{{ url_for('static', filename='lib/require/require.js') }}" data-main="/static/require-config"></script>

	</body>

</html>