<!DOCTYPE html>
<html lang="en">
<head>
    <title>Agil</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/landing.css')}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>
    <div class="content">
        <h1>Agil</h1>
        <h2><a href="{{url_for('login')}}">Log in</a></h2>
    </div>
</body>
</html>