<head>
    <title>landing</title>
</head>
<div class="landing-page">
	<div class="panel home-landing">
		<p>Agil</p>
        <form action="dashboard" method="post">
            username <input type="text" style="width:250px; margin-left:auto; margin-right:auto" name="username">
            password <input type="password" style="width:250px; margin-left:auto; margin-right:auto" name="password">
            <input type="submit" id="logInButton" action="dashboard" value="Log in" onclick="location.href=dashboard.html" >
        </form>
        
        
		<!--<a href class="button tiny" ng-click="logIn()">Log In</a>-->
	</div>
</div>