<!DOCTYPE html>
<html ng-app="agilApp" lang="en">
<head>
	<title>Sprint Planning</title>
    {% include "includes/head.html" %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/planning.css')}}">

	<script type="text/javascript" src="{{ url_for('static', filename='js/controllers/planningCtrl.js') }}"></script>

</head>
<body ng-controller="planningCtrl">
    {% include "includes/navbar.html" %}
    <div class="text-center">
	   <h1>{{project}} planning view</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div ng-hide="activeSprintExists">
                    <h3>No existing Sprint</h3>
                    <datepicker ng-model="dt"></datepicker>
                    <strong>Picked Date:</strong> {[dt.toDateString()]} <br>
                    <button class="btn btn-success" ng-click="createNewSprint()">Create Sprint</button>
                </div>
                <div class="current-sprint" ng-show="activeSprintExists">
                    <h3>Current Sprint (ends {[sprintName]})</h3>
                    <accordion closeOthers="1">
                        <accordion-group ng-repeat="issue in currentSprint" heading="{[issue.title]}">
                            <p>{[issue.body]}</p>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
            <div class="col-md-6">
                <div class="backlog">
                    <h3>Project Backlog</h3>
                    <accordion closeOthers="1">
                        <accordion-group ng-repeat="issue in backlog" heading="{[issue.title]}">
                            <p><strong>Description:</strong>{[issue.body]}</p>
                            <button class="btn btn-success" ng-click="addToSprint(issue)">Add To Sprint</button>
                        </accordion-group>
                    </accordion>                    
                </div>
            </div>
        </div>
    </div>
</body>


</html>