<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <title>{{project}} retrospective</title>

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

        <link rel="stylesheet" href="{{ url_for('static', filename='lib/reveal/css/reveal.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/reveal/css/theme/black.css') }}" id="theme">

        <!-- Code syntax highlighting -->
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/css/zenburn.css') }}">
    </head>

    <body>

        <div class="reveal">

            <!-- Any section element inside of this container is displayed as a slide -->
            <div class="slides">

                <!-- Title Slide -->
                <section>
                    <h1>Sprint {{ info.sprintinfo.start }} - {{ info.sprintinfo.end }}</h1> 
                    <h2>{{ project }}</h2>
                </section>

                <!-- Issue Summary Slide -->
                <section>
                    <h1>Issues</h1>
                    <p>Total Issues: {{ info.sprintinfo.total_issues }}</p>
                    <p>Completed Issues: {{ info.sprintinfo.closed_issues }} </p>
                    <p>Incomplete Issues: {{ info.sprintinfo.open_issues }} </p>
                </section>

                <!-- Issue breakdown -->
                {% for issue in info.issues %}
                <section>
                    <h1>{{ issue.title }}</h1>
                    <p> {{ issue.body }} </p>
                </section>
                {% endfor %}
            </div>

        </div>

        <script src="{{ url_for('static', filename='lib/reveal/lib/js/head.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/reveal/js/reveal.js') }}"></script>

        <script>

            // Full list of configuration options available at:
            // https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                controls: true,
                progress: true,
                history: true,
                center: true,

                transition: 'slide' // none/fade/slide/convex/concave/zoom
            });

        </script>

    </body>
</html>
