<!DOCTYPE html>
<html ng-app="agilApp" lang="en">
<head>
    <title>Retrospective</title>
    {% include "includes/head.html" %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/controllers/retrospectiveCtrl.js') }}"></script>

</head>
<body ng-controller="retrospectiveCtrl">
    {% include "includes/navbar.html" %}
    <div class="container">
        <div ng-hide="sprintSelected">
            <h2>Sprints</h2>
            <p>Click on a sprint to generate a retrospective report</p>
            <div ng-repeat="sprint in sprints" ng-click="fetchSprint(sprint.number)" class="click-list scale-fade">
                {[ sprint.created_at ]} - {[ sprint.due_on ]}
            </div>
        </div>

        <div ng-show="sprintSelected" class="slide-top">
            <h2>Sprint {[ selectedSprint.sprintinfo.start ]} - {[ selectedSprint.sprintinfo.end ]} Report</h2>
            <div class="row">
                <div class="col-md-6">
                    <h3>Issues</h3>
                    <p><strong>Total Issues: </strong> {[ selectedSprint.sprintinfo.total_issues ]}</p>
                    <p><strong>Open Issues: </strong> {[ selectedSprint.sprintinfo.open_issues ]}</p>
                    <p><strong>Closed Issues: </strong> {[ selectedSprint.sprintinfo.closed_issues ]}</p>
                </div>
                    
                <div class="col-md-6">
                    <button class="btn btn-primary" ng-click="goBack()">Go back</button>
                    <a href="{[ selectedSprint.slideUrl ]}" target="_blank"><button class="btn btn-primary">Generate Slideshow</button></a>
                </div>
            </div>
            <hr>
            <div ac-chart="chart.type" ac-data="chart.data" ac-config="chart.config" class="chart">
            </div>
        </div>
    </div>

</body>
</html>