<!DOCTYPE html>
<html ng-app="agilApp" lang="en">
	<head>
		<title>Current Sprint</title>
		{% include "includes/head.html" %}
		<script type="text/javascript">
			var projectName = "{{project | safe}}";
			var projectOwner = "{{owner | safe}}";
		</script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/controllers/sprintCtrl.js') }}"></script>
	</head>
	<body ng-controller="sprintCtrl">
		{% include "includes/navbar.html" %}

		<!-- Simple two column layout -->
		<!-- Maybe switch to tabs or have some kind of collapseable sidebar? -->
 		<div class="container-fluid">
 			<div class="row">
 				<div class="col-md-6">
 					<h3>Unassigned</h3>
 					<div ng-repeat="issue in unassignedIssues">
 					</div>
 				</div>
 				<div class="col-md-6">
 					<h3>In Progress</h3>
 					<div ng-repeat="issue in assignedIssues">
 					</div>
 				</div>
 			</div>
 		</div>
	</body>
</html>