<!DOCTYPE html>
<html ng-app="agilApp" lang="en">
	<head>
		<title>Current Sprint</title>
		{% include "includes/head.html" %}

		<script type="text/javascript" src="{{ url_for('static', filename='js/controllers/sprintCtrl.js') }}"></script>
	</head>
	<body ng-controller="sprintCtrl">
		{% include "includes/navbar.html" %}

		<div class="container">
			<h1>Project {{projectName}}</h1>
			<div ng-hide="sprintActive">
				No sprint currently active. <a href="{{url_for('planningFunc', owner=owner, project=project)}}">Click here</a> to go to the planning page to create a new sprint.
			</div>

			<div ng-show="sprintActive">
				Current sprint end date: {[ sprint.title ]}

				<div ng-show="noIssues">
					No issues have been added to this sprint. <a href="{{url_for('planningFunc', owner=owner, project=project)}}">Click here</a> to go to the planning page add issues to this sprint.
				</div>
			<!-- Simple two column layout -->
			<!-- Maybe switch to tabs or have some kind of collapseable sidebar? -->
	 			<div class="row" ng-hide="noIssues">
	 				<div class="col-md-6">
	 					<h3>Unassigned Issues</h3>

	 					<div ng-repeat="issue in unassignedIssues" ng-click="openModal(issue)" class="click-list">
	 						{[ issue.title ]}
	 					</div>
	 				</div>
	 				<div class="col-md-6">
	 					<h3>Assigned Issues</h3>
	 					<tabset>
	 						<tab heading="Issues in progress">
	 							<div ng-repeat="issue in assignedIssues" ng-click="openModal(issue)" class="click-list">
	 								{[ issue.title ]}
	 							</div>						
	 						</tab>
	 						<tab heading="Issues Assigned to me">
	 							<div ng-repeat="issue in myIssues" ng-click="openModal(issue)" class="click-list">
	 								{[ issue.title ]}
	 							</div> 							
	 						</tab>
	 					</tabset>
	 				</div>
	 			</div>				
			</div>
		</div>
	</body>

<!-- Modal -->
<script type="text/ng-template" id="issueModal.html" >
    <div class="modal-header">
        <h3 class="modal-title">{[ issue.title ]}</h3>
    </div>
    <div class="modal-body">
        <strong>Issue created by:</strong> {[ issue.user.login ]}
        <p ng-show="difficulty.present"><strong>Difficulty Level:</strong> {[ difficulty.name ]}</p>
        <p>{[ issue.body ]}</p>
        <p ng-show="issue.assignee"><strong>Assigned to: </strong> {[ issue.assignee.user ]} </p>
        <p><a href="{[ issue.html_url ]}" target="_blank">View on GitHub</a></p>
    </div>
    <div class="modal-footer">
        <div class="inline" ng-hide="issue.assignee">
            <select ng-model="assignedUser" ng-options="user for user in users">
            </select>
            <button class="btn btn-success" ng-click="assignIssue()">Assign Issue to {[ assignedUser ]}</button>    
        </div>
        <button class="btn btn-success" ng-show="issue.assignee" ng-click="closeIssue()">Close Issue</button>
        <button class="btn btn-default" ng-click="close()">Close</button>
    </div>
</script>

</html>